.card {
  padding: 12px;
  border: 0;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      .card-image-container {
        .card-title {
          opacity: 1;
        }
      }
    }
  }

  .card-image-container {
    position: relative;
    width: 100%;
    padding-bottom: calc(309px / 412px * 100%);
    border-radius: 5px;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .card-title {
      position: absolute;
      bottom: 0;
      z-index: 10;
      color: #ffffff;
      background: rgba(0, 0, 0, 0.5);
      font-size: 14px;
      padding: 12px;
      opacity: 0;
      transition: opacity 0.4s ease;
      width: 100%;
      margin: 0;
    }

    .video {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.5);

      i {
        font-size: 40px;
        color: #fff;
      }
    }
  }

  .card-body {
    padding: 0;

    .card-title {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
      margin-top: 8px;
      font-weight: 600;
      color: #0d0c22;
    }
  }
}
